* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 70px
}

h1 {
    font-size: 55px;
}
.btn-container {
    display: flex;
    gap: 25px;
}

button {
    padding: 15px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

#value {
    font-size: 40px;
}